.parent{
    background-image: url('../Assets/background.png');
    background: linear-gradient(#2F13B2,#5454F3,#2F13B2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.page-section{
    height:100vh;
    /* border-style:solid;
    border-color:blue; */
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#devjams{
    height:100vh;
    border-style:solid;
    border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#devtalks{
    height:210vh;
    border-style:solid;
    border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#aboutdsc{
    height:100vh;
    border-style:solid;
     border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#timeline{
    height:100vh;
    border-style:solid;
    border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#sponsers{
    height:120vh;
    border-style:solid;
    border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#contactus{
    height:101vh;
    /* border-style:solid; */
    /* border-color:blue; */
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
.timeline > img{
    width:80%;
    height:60%;
    /* text-align: center; */
}
.timeline{
    text-align: center;
    margin-top:15vh;
}
.but > button{
    margin-top: -15px;
    width:200px;
    height:60px;
    border-radius: 75px;
    font-size: 1.3em;
    border-style: hidden;
    color: #4941E0;
    font-weight: 600;
}
.but{
    text-align: center;
}
.devjams{
    text-align: center;
    margin-top:25vh;
}
.devjams1{
    text-align: left;
    width:38vw;
}
.devjams2{
    width:35vw;
}
.devjams1 > h1{
    font-family: 'montserrat';
    font-size: 65px;
    font-weight: 600;
    color:#FEA1BE;
}
.devjams1 > h5{
    font-family: 'montserrat';
    color:white;
    margin-top:50px;
    margin-bottom: 50px;
    font-weight: 300;
}
.devjams1 > .but {
    margin-left: none;
    /* border-style: solid;
    border-color: yellow; */
    text-align: left;
}
.devjams1 > .but > button{
    width:260px;
    font-size: 25px;
    margin-top:18px;
}
.devjams2 > img{
    height:550px;
    margin-top:-20px;
}

.devjams3 > img{
    height:450px;
    width:500px;
    margin-top:-20px;
    margin-left:10px;
}
.container{
    margin-top: 25vh;
}
.speakers{
    margin-top:180px;
    text-align: center;
}
.speakers > h1{
    font-family: 'montserrat';
    font-size: 55px;
    font-weight: 600;
    color:#FEA1BE;
}
.frame{
    border-radius: 50%;
    background-color: white;
    height:250px;
    width:250px;
}
.frame > img{
    height:240px;
    width:240px;
    border-radius: 50%;
    margin-top:5px;
}   
.col-sm > h1{
    margin-top:50px;
    font-family: 'montserrat';
    font-size: 35px;
    font-weight: 500;
    color:#FEA1BE;
    margin-bottom: 40px;
}
.col-sm > h6{
    font-family: 'montserrat';
    font-size: 19px;
    font-weight: 300;
    color:white;
    margin-bottom: 40px;
}
#container{
    margin-top:50px
}
.logos > img{
    height:40px;
}
.logos {
    margin-bottom: 40px;
}
.dsc{
    margin-right:-200px;
    height:400px;
    width:600px;
    margin-top:80px;
    animation: myfirst 3s ease 0.2s infinite alternate;
    /* border-style: solid;
    border-color: white; */
}
@keyframes myfirst {
    0%   {width:610px;height:410px;}
    25%  {width:620px;height:420px;}
    50%  {width:625px;height:425px;}
    75%  {width:620px;height:420px;}
    100% {width:610px;height:410px;}
  }
.dsckebaare > h1{
    font-family: 'montserrat';
    font-size: 35px;
    font-weight: 500;
    color:#FEA1BE;
    text-align: left;
}
.dsckebaare > h3{
    font-family: 'montserrat';
    font-size: 19px;
    font-weight: 300;
    color:white;
    margin-bottom: 70px;
    text-align: left;
    margin-top:20px;
}
#aboutdsc > .container{
    margin-top:25vh;
}
.sponserheading{
    text-align: center;
    font-family: 'montserrat';
    font-size: 55px;
    font-weight: 500;
    color:#FEA1BE;
    margin-top:15vh;
}
.spimg{
    width:200px;
    height:200px;
    border-radius: 50%;
}
.sponserbuttons{
    text-align: center;
}
.sponserbuttons > button{
    margin:40px;
    width:180px;
    height:50px;
    border-radius: 40px;
    border-style: hidden;
    color: #4941E0;
    font-weight: 600;
}
@media screen and (max-width: 768px){
    .timeline > img{
        width:90%;
        height:70%;
        
    }
    .spimg{
        margin:26px;
    }
    .but > button{
        margin-top: 25px;
        width:200px;
        height:60px;
        border-radius: 75px;
        font-size: 1.3em;
        border-style: hidden;
        color: #4941E0;
        font-weight: 600;
    }
    #timeline{
        height:50vh;
        border-style:solid;
         border-color:transparent;
        /* padding: 300px; */
        /* background: linear-gradient(#2F13B2,#5454F3); */
    }
    .devjams1{
        display: block;
        text-align: left;
        width:100%;
    }
    .devjams2{
        display: block;
        width:100%;
    }
    #devjams{
        height:150vh;
        /* margin-top: -200px; */
    }
    #devtalks{
        height:460vh;
    }
    .devjams2 > img{
        height:300px;
        width:86vw;
        margin-top:125px;
    }
    
    .devjams3 > img{
        height:300px;
        width:300px;
        margin-top: 110px;
        margin-left:30px;
    }
    .devjams{
        margin-top:-20px;
    }
    .speakers > h1{
        padding-bottom:80px;
    }
    #aboutdsc{
        height:160vh;
    }
    .dsc{
        height:250px;
        width:90vw;
        margin-top:2px;
        margin-right: 20px;
        animation: none;
    }
    #sponsers{
        height:325vh;
    }

}
