.parent{
    background-image: url('../Assets/background.png');
    background: linear-gradient(#2F13B2,#5454F3,#2F13B2);
    font-family: 'montserrat';
}
.page-section{
    height:100vh;
    /* border-style:solid;
    border-color:blue; */
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#devjams{
    height:100vh;
    border-style:solid;
    border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#devtalks{
    height:205vh;
    border-style:solid;
    border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#home{
    height:95vh;
}
#aboutdsc{
    height:100vh;
    border-style:solid;
    border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#timeline{
    height:100vh;
    border-style:solid;
    border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#sponsers{
    height:120vh;
    border-style:solid;
    border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
#contactus{
    height:200vh;
    border-style:solid;
    border-color:transparent;
    /* padding: 300px; */
    /* background: linear-gradient(#2F13B2,#5454F3); */
}
.timeline > img{
    width:80%;
    height:60%;
    /* text-align: center; */
}
.timeline{
    text-align: center;
    margin-top:15vh;
}
.but > button{
    margin-top: -15px;
    width:200px;
    height:60px;
    border-radius: 75px;
    font-size: 1.3em;
    border-style: hidden;
    color: #4941E0;
    font-weight: 600;
}
.but{
    text-align: center;
}
.devjams{
    text-align: center;
    /* margin-top:25vh; */
}
.devjams1{
    text-align: left;
    width:38vw;
}
.devjams2{
    width:35vw;
}
.devjams1 > h1{
    font-family: 'montserrat';
    font-size: 65px;
    font-weight: 600;
    color:#FEA1BE;
}
.devjams1 > h5{
    font-family: 'montserrat';
    color:white;
    margin-top:50px;
    margin-bottom: 50px;
    font-weight: 300;
}
.devjams1 > .but {
    margin-left: none;
    /* border-style: solid;
    border-color: yellow; */
    text-align: left;
}
.devjams1 > .but > button{
    width:260px;
    font-size: 25px;
    margin-top:18px;
}
.devjams2 > img{
    height:550px;
    margin-top:-20px;
}

.devjams3 > img{
    height:450px;
    width:500px;
    margin-top:-20px;
    margin-left:10px;
}
.container{
    margin-top: 25vh;
}
.speakers{
    margin-top:180px;
    text-align: center;
}
.speakers > h1{
    font-family: 'montserrat';
    font-size: 55px;
    font-weight: 600;
    color:#FEA1BE;
}
.frame{
    border-radius: 50%;
    background-color: white;
    height:250px;
    width:250px;
}
.frame > img{
    height:240px;
    width:240px;
    border-radius: 50%;
    margin-top:5px;
}   
.col-sm > h1{
    margin-top:50px;
    font-family: 'montserrat';
    font-size: 35px;
    font-weight: 500;
    color:#FEA1BE;
    margin-bottom: 40px;
}
.col-sm > h6{
    font-family: 'montserrat';
    font-size: 19px;
    font-weight: 300;
    color:white;
    margin-bottom: 40px;
}
#container{
    margin-top:50px
}
.logos > img{
    height:40px;
}
.logos {
    margin-bottom: 40px;
}
.dsc{
    /* margin-right:-200px; */
    height:350px;
    width:500px;
    margin-top:80px;
    animation: myfirst 3s linear 0.2s infinite alternate;
    /* border-style: solid;
    border-color: white; */
}
@keyframes myfirst {
    0%   {width:520px;height:370px;}
    25%  {width:530px;height:380px;}
    50%  {width:540px;height:390px;}
    75%  {width:530px;height:380px;}
    100% {width:510px;height:360px;}
  }
  @keyframes two {
    0%   {width:400px;}
    25%  {width:405px;}
    50%  {width:410px;}
    75%  {width:405px;}
    100% {width:400px;}
  }
  @keyframes animate{
      0%{
          transform: translateY(200) rotate(0deg);
          margin-top:-1200vh;
          opacity:0.6
      }
      100%{
        transform: translateY(800) rotate(720deg);
        margin-top:-1650vh;
        opacity:0
    }
  }
  @keyframes animate1{
    0%{
        transform: translateY(200) rotate(0deg);
        margin-top:-1200vh;
        opacity:0.6
    }
    100%{
      transform: translateY(800) rotate(720deg);
      margin-top:-850vh;
      opacity:0
  }
}
@keyframes animate2{
    0%{
        transform: translateY(200) rotate(0deg);
        margin-top:-850vh;
        opacity:0.6
    }
    100%{
      transform: translateY(800) rotate(720deg);
      margin-top:-400vh;
      opacity:0
  }
}
.dsckebaare > h1{
    font-family: 'montserrat';
    font-size: 35px;
    font-weight: 500;
    color:#FEA1BE;
    text-align: left;
}
.dsckebaare > h3{
    font-family: 'montserrat';
    font-size: 19px;
    font-weight: 300;
    color:white;
    margin-bottom: 70px;
    text-align: left;
    margin-top:20px;
}
#aboutdsc > .container{
    margin-top:25vh;
}
.sponserheading{
    text-align: center;
    font-family: 'montserrat';
    font-size: 55px;
    font-weight: 500;
    color:#FEA1BE;
    margin-top:15vh;
}
.contactusheading{
    text-align: center;
    font-family: 'montserrat';
    font-size: 55px;
    font-weight: 600;
    color:#FEA1BE;
    margin-top:15vh;
}
.spimg{
    width:200px;
    height:200px;
    border-radius: 50%;
}
.sponserbuttons{
    text-align: center;
}
.sponserbuttons > button{
    margin:40px;
    width:180px;
    height:50px;
    border-radius: 40px;
    border-style: hidden;
    color: #4941E0;
    font-weight: 600;
}
.poc > h2{
    font-family: 'montserrat';
    font-size: 35px;
    font-weight: 600;
    color:white;
    margin:12px;
}
.poc > h3{
    font-family: 'montserrat';
    font-size: 19px;
    font-weight: 400;
    color:white;
    margin:12px;
}
.poc > img{
    height:20px;
    width:25px;
}
.contactimg > img{
    width:400px;
    /* border-color: white;
    border-style: solid; */
    /* animation:two 5s ease 0.2s infinite alternate; */
}
.handles{
    /* border-color: white;
    border-style:solid; */
    margin-top:40px;
    /* border-color: white;
    border-style: solid; */
}
.handles > .row > .col{
    /* margin:px; */
    /* wih:700px; */
    padding: 10px;
}
.handles > .row > .col > a{
    text-decoration: none;
    color: #FEA1BE;
    font-size: 16px;
    margin-left:6px;
    margin-bottom: 10px;
}
.faqheading{
    text-align: center;
    font-family: 'montserrat';
    font-size: 55px;
    font-weight: 600;
    color:#FEA1BE;
    margin-top:15vh;
}
.faq > .row{
    width:80vw;
    height:420px;
}
.faq > .row > .col-4 > img{
    width:300px;
    height:250px;
    margin:50px 20px;
}
.faq > .card{
    border-radius:50px;
}
.faq >.card-header {
    border-radius:30px;
}
.but1 > button{
    width:250px;
    height:50px;
    border-radius: 75px;
    font-size: 1.15em;
    border-style: hidden;
    color: #4941E0;
    font-weight: 500;
    margin-top:20px;
}
.but1{
    text-align: center;
    /* border-color: white;
    border-style: solid; */
    /* width:140vw; */
}
.links{
    text-align: center;
    margin-top:40px;
}
.links > a{
    margin:30px;
    color:white;
    text-decoration: underline;
}
#contactus > .col {
    margin-right:180px;
}
.devjams1 > h1{
    margin-top:-80px;
}
.obj{
    opacity:0.2;
    margin:100px;
    z-index: -100;
    animation: animate 20s linear infinite;
}
.obj1{
    opacity:0.2;
    margin:30px;
    z-index: -100;
    animation: animate1 22s linear infinite;
}
.obj2{
    opacity:0.2;
    margin:200px;
    z-index: -100;
    animation: animate2 26s linear infinite;
}
.left{
    width:600px;
    /* border-color: white;
    border-style: solid; */
}
@media screen and (max-width: 768px){
    .timeline > img{
        width:90%;
        height:70%;
        
    }
    .spimg{
        margin:26px;
    }
    .but > button{
        margin-top: 25px;
        width:200px;
        height:60px;
        border-radius: 75px;
        font-size: 1.3em;
        border-style: hidden;
        color: #4941E0;
        font-weight: 600;
    }
    #timeline{
        height:50vh;
        border-style:solid;
         border-color:transparent;
        /* padding: 300px; */
        /* background: linear-gradient(#2F13B2,#5454F3); */
    }
    .devjams1{
        display: block;
        text-align: left;
        width:100%;
    }
    .devjams2{
        display: block;
        width:100%;
    }
    #devjams{
        height:150vh;
        /* margin-top: -200px; */
    }
    #devtalks{
        height:460vh;
    }
    .devjams2 > img{
        height:300px;
        width:86vw;
        margin-top:125px;
    }
    
    .devjams3 > img{
        height:300px;
        width:300px;
        margin-top: 110px;
        margin-left:30px;
    }
    .devjams{
        margin-top:-20px;
    }
    .speakers > h1{
        padding-bottom:80px;
    }
    #aboutdsc{
        height:135vh;
    }
    .dsc{
        height:250px;
        width:90vw;
        margin-top:2px;
        margin-right: 20px;
        animation: none;
    }
    #sponsers{
        height:350vh;
    }
    .contactimg > img{
        width:250px;
        animation:none;
    }
    #contactus{
        height:200vh;
    }
    .poc > h3{
        font-size: 14px;
    }
    .contactimg > img{
        margin-top:20px;
    }
    .faq > .card{
        width:80vw;
        border-color: white;
        border-style: solid;
    }
    #contactus{
        height:330vh;
    }
    .col-4 > img{
        display:none;

    }
    .col-8{
        width:400px;
        border-color: white;
        border-style: solid;
        height:800px;
        text-align: center;
    }
    .dsckebaare{
        margin-top:-100px;
    }
    .dsckebaare > h1{
        /* margin-top:10px; */
    }
    .dsckebaare > .dist{
        padding-top:100px;
    }
    .sponserbuttons > button{
        margin:20px;
    }
}
