*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height:10vh;
    background: #3C2AC9;
    /* background: transparent; */
    /* top:0%; */
    position: fixed;
    width:100%;
    z-index: 800;
}

.nav-links{
    display:flex;
    width:70%;
    height:100%;
    /* background: coral; */
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
    font-family: 'Montserrat';
    font-weight:500;
    margin-right:50px;
}

.nav-links li a{
    color:white;
    font-size: 20px;
    text-decoration: none;
    opacity:0.5;
}
.nav-links li a.active{
    opacity:1;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ALL */


.hamburger .line{
  width: 20px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display:none;
}

#hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger-6.is-active .line:nth-child(2){
    width: 0px;
  }
  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  #hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-4px) rotate(90deg);
    -ms-transform: translateY(-4px) rotate(90deg);
    -o-transform: translateY(-4px) rotate(90deg);
    transform: translateY(-4px) rotate(90deg);
  }
   .logo{
      float: left;
        height:100%;
        margin-left: 80px;
        /* justify-content: space-around; */
    display: flex;
    align-items: center;
    /* border-style: solid;
    border-color: white; */
  }
  .logo1{
      height:20px;
      width:40px;
  }
  .logo2{
      width:100px;
      height:20px;
      margin-left: 7px;
  }
  /* .firstlink{
      padding-left:300px;
  } */

  /* .nav-links{
      display: inline-block;
  } */
  
@media screen and (max-width: 768px){
    .line{
        width:20px;
        height: 2px;
        background: white;
        margin:5px;
    }
    .hamburger .line{
        display: block;
    }

    .nav{
        position: relative;
    }
    .logo{
      /* margin-left:70px; */
      /* height:100%; */
      /* margin:px 60px; */
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right:5%;
        top:3%;
        /* transform: translate(5%, -50%); */
        z-index: 5;
        margin-top:25px;
    }
     
    .nav-links{

        background: linear-gradient(#2B0CAB,#4F4BEA);
        height:100vh;
        width:100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path:circle(100px at 90% -20%);
        transition: all 1s ease-out 0.2s;
        pointer-events: none;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .open.nav-links{
        

            background: linear-gradient(#2B0CAB,#4F4BEA);
            height:100vh;
            width:100%;
            flex-direction: column;
            clip-path: circle(100px at 90% -20%);
            -webkit-clip-path:circle(100px at 90% -20%);
            transition: all 0.7s ease-out;
            pointer-events: none;
            padding-top: 100px;
            padding-bottom: 30px;
        
    }
    .nav-links.open{
        clip-path: circle(1100px at 90% -20%);
        -webkit-clip-path:circle(1100px at 90% -20%);
        pointer-events: all;
    }
    .nav-links li a{
        font-size: 25px;
        
    }
    .nav-links li:nth-child(1){
        transition: all 0.4s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.4s ease 0.2s;
    }    
    .nav-links li:nth-child(3){
        transition: all 0.4s ease 0.2s;
    }
    /* .first-link{
        padding-top: 100px;
    } */
    .logo{
        display:none;
    }

}