<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor</title>
    <link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="../CSS/sponsor.css">
</head>
<body>
    <div class="logo">
        <img src="../Assets/devstack1.png" alt="">
    </div>
    <div class="card">
        <h1>Sponsor Us!</h1>
        <div class="form">
            Fill in your details!
            <form>
                <input type="text" id="name" name="fname" placeholder="Name" required><br>
                <input type="text" id="company" name="lname" placeholder="Company Name" required><br>
                <input type="email" id="email" name="fname" placeholder="Email ID" required><br>
                <input type="number" id="phone" name="lname" placeholder="Phone Number" required><br>
                <input type="submit" value="Submit" id="submit">
              </form> 
        </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>